:root {
    --primaryy-color: #0264fe;
    --secondary-color: #031739;
    --font-color: #8d8eac;
    --font-dark-color: #414271;
    --heading-color: #35365f;
    --footer-bg: #05060b;
    --bg-sections: #f0f5f9;    
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1920 - 300)));
}

h1,h2,h3,h4,h5,h6{
  color: var(--heading-color);
}

.font-dark-color {
    color:var(--font-dark-color);
}

h1 {
    font-size: calc(32px + (51 - 32) * ((100vw - 300px) / (1920 - 300)));
}

/* Spacers */

.space-p-t{
  padding-top: 80px;
}

.space-p-b{
  padding-bottom: 80px;
}

.space-p-tb{
  padding: 80px 0;
}

.space-m-t{
  margin-top: 80px;
}

.space-m-b{
  margin-bottom: 100px;
}

.space-m-tb{
  margin: 80px 0;
}

.section-bg{
  background-color: var(--bg-sections);
}

.section-bg-dark {
    background-color: var(--secondary-color);
}

/* Spacers End */
.nav-item{
    margin:0 15px;
}
/*.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 10px;
    top: calc(100% + 30px);
    margin: 0;
    padding:0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border:0;
    border-radius:0;
   
}*/

.navbar .dropdown ul {
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 30px rgb(5 5 5 / 65%);
}
.navbar .dropdown ul li {
  min-width:150px;
}
.navbar .dropdown ul a {
    padding:10px 12px 10px 10px;
    text-transform: none;
    font-size:14px;

    
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #fff;
  background-color: #031739;
}
/*
        .navbar .dropdown ul a i {
            font-size: 12px;
        }

        .navbar .dropdown ul a:hover,
        .navbar .dropdown ul .active:hover,
        .navbar .dropdown ul li:hover > a {
            color:#fff;
             background-color:#031739;
        }

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}*/

.text-color-pri{
  color: var(--primaryy-color);
}

.main-heding {
    font-size: calc(28px + (41 - 28) * ((100vw - 300px) / (1920 - 300)));
    color:var(--heading-color);
    font-weight:bold;
}

/* Button */
.ctm-pri-btn {
    background-color: var(--primaryy-color);
    padding: 18px 30px;
    border: 1px solid var(--primaryy-color);
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    display: inline-block;
    box-shadow: 0px 21px 51px 0px rgba(27, 74, 69, 0.35);
    text-transform: uppercase;
}

.ctm-pri-btn:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}
/* Button */

/* Header */

.bg-nav {
    height: 78px !important;
}

.main-header .navbar{
    height: 125px;      
    transition:0.3s ease-in;
}

.bg-nav {
    background-color:#031739;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.btn-contact {
    background-color: var(--primaryy-color);
    color: #fff;
    padding: 12px 33px !important;
    border-radius: 10px;
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--primaryy-color);
}

#main-nav {
    align-items:center;
}
/* Header End*/
/*Main Banner Home*/
.ctm-banner {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    min-height: 650px;
    display: flex;
    align-items: center;
    padding-top: 200px;
    justify-content:center;
}

.mainbanner-title {
    color: #fff;
    font-size: calc(32px + (52 - 32) * ((100vw - 300px) / (1920 - 300)));
}

.downarrow-btn {
    padding: 16px 23px;
    border: 1px solid #0063ff;
    border-radius: 13px;
    font-size: 20px;
    background-color: #0063ff;
    color: #fff;
    margin-top:58px;
    transition:0.3s ease-in;
    display:inline-block;
}


.downarrow-btn i {
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-animation: fade_move_down 1.5s ease-in-out infinite;
    -moz-animation: fade_move_down 1.5s ease-in-out infinite;
    animation: fade_move_down 1.5s ease-in-out infinite;
}

.downarrow-btn:hover {
    background-color: #031739;
    border-color: #031739;
    color: #fff;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0,-10px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0,10px);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0,-10px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0,10px);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0,-10px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0,10px) ;
        opacity: 0;
    }
}



.logos-holder-container {
    padding: 30px 0;
}
.pri-highlight {
    background-color: var(--primaryy-color);
    color: #fff;
    display: inline-block;
    padding: 0 11px;
    line-height: 55px;
}
/*Main Banner Home End*/

.clients-logos-sec {
    padding:50px 0;
}

.clients-logos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.clients-logos div {
    flex: 1 0 20%;
    max-width: 20%;
    margin: 0 4px;
}

.clients-logos-sec {
    position:relative;
    background-color:#fff;
    margin-bottom:80px;
}

.clients-logos-sec .container:after {
    content: "";
    width: 70%;
    height: 84px;
    display: block;
    box-shadow: 0px 50px 19px 0px #0000001f;
    POSITION: ABSOLUTE;
    FONT-WEIGHT: 100;
    LEFT: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 45%;
    background: white;
    z-index: -1;
    border-radius: 100%;
}
.srv-image-box{
    margin:0 20px 35px 10px;
}

.shine-overlay {
    position: relative;
    overflow: hidden;
}

.shine-overlay:hover .shine {
   display: block;
   cursor:pointer;
}

.shine {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    /*pointer-events: none;*/
    z-index: 3;
    opacity: 0;
    transform: skew(30deg);
    animation: shine 0.75s linear 1;
}

@keyframes shine {
    0% {
        left: -50%;
        opacity: 0;
    }

    50% {
        left: 25%;
        opacity: 0.5;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}
 

    /* about-section */
    .about-section {
    color: #8d8eac;
    scroll-margin-top: 8rem;
}

/* about-section End */
.who-sec {
    padding-bottom: 0;
    margin-bottom: -100px;
}


.serv-cont-holder {
    max-width: 650px;
    margin-left: auto;
}

.serv-box-title {
    display: block;
    color: #35365f;    
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1920 - 300)));
    margin-top: 10px;
    text-decoration:none;
}

.counter-section {
    background-size: cover;
    background-position: center center;
    min-height: 460px;
    display: flex;
    align-items: center;
}


.counter-icon-box {
    text-align:center;
    color:#fff;
    margin-bottom:30px;
}

.counter-no {
    font-size: calc(32px + (55 - 32) * ((100vw - 300px) / (1920 - 300)));
    line-height: 1.2;
    color: #fff;
}

.cont-icon {
    margin-bottom: 15px;
}

.choose-us-slider .slick-dots {
    text-align: left;
}

.slick-dots li button {
    width: 15px;
    height: 15px;
    padding: 5px;
    color: transparent;
    background: transparent;
    border: 3px solid #dbdbdb;
    border-radius: 50%;
}

.slick-dots li.slick-active button{
    border-color:var(--primaryy-color);
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
    color:var(--primaryy-color);
}

.slick-dots li {
    width: 15px;
    height: 15px;   
}

.slick-dots li button:before {
    font-size: 8px;
    line-height: 18px;
    left: 1px;
    width: 15px;
    height: 15px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

.cta-section {
    background-size: cover;
    background-position: left center;
    color: #fff;
}

.cta-title {
    font-size: calc(28px + (41 - 28) * ((100vw - 300px) / (1920 - 300)));
    font-weight:bold;
    color:#fff;
}


.cta-mini-title {
    display: block;
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1920 - 300)));
}

.cta-info-holder {
    display: flex;
    justify-content: space-between;
}

.cta-icon-box {
    display: flex;
    align-items: center;
}
.cta-info {
    margin-left: 10px;
}

.cta-info span {
    display: block;
    font-size: 12px;
    line-height: 16px;
}

.cta-phone {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1920 - 300)));
    color: #fff;
    text-decoration: none;
}

.cta-phone:hover {
    color: #fff;
}

.cta-btn-main {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 15px;
    background-color: #fff;
    transition: 0.3s eae;
    border-radius: 5px;
    background-color: #fff;
    padding: 18px 30px;
    border: 1px solid #fff;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    text-decoration: none;
    color: #021839;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    display: inline-block;
    box-shadow: 0px 25px 21px 0px rgba(3, 23, 57, 0.35);
    text-transform: uppercase;
    font-weight: 600;
}

.cta-btn-main:hover {
   background-color: var(--secondary-color);
   color: #fff;
   border-color: var(--secondary-color);
   justify-content: space-between;
}
.cta-btn-main1 {
    text-align: left;
    display: flex;
    align-items: center;
}

.post-img {
    border-radius: 30px;
}

.post-content {
    padding: 30px;
    border-radius: 40px;
    background-color: white;
    display: block;
    position: relative;
    margin: -83px 23px 0 22px;
}

.post-date {
    display: inline-block;
    margin-bottom: 10px;
    background-color: var(--primaryy-color);
    padding: 5px 13px;
    color: #fff;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid :var(--primaryy-color);
    text-transform: uppercase;
    font-weight: 500;
}

.post-title {
    font-weight:600;
}

/*Testimonials*/
.tm-cont {
    color: #fff;
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320)) ;
    font-weight: 300;
    font-style: italic;
}

.rwr-image-holder {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom:15px;
}

.tm-img {
    filter: grayscale(1);
}

.reviewer-slider .slick-current.slick-active .tm-img{
    filter: grayscale(0);
}

.quote-img {
    width: 20px;
    height: 20px;
    background-color: #3c3c3c;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
    font-size: 30px;
    line-height: 42px;
}

.reviewer-slider .slick-current.slick-active .quote-img {
    background-color: var(--primaryy-color);
}

.rwr-info h5{
    color:#fff;
    font-weight:400;
    font-size:18px;
}

.desig {
    display: block;
    color: #61646e;
    font-size:12px;
}


/*Testimonials End*/
/*Contact Page Start */
.contact-box {
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(2, 23, 56, 0.16);
    text-align: center;
    padding: 25px;
    min-height: 280px;
}
.contact-box .contact-icon img{
    margin:12px 0;
    text-align:center;
}
.contact-box span {
    display:block;
    font-size: 21px;
    font-weight: 600;
    color: #25263f;
}

.contact-box a {
  display: block;
 font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320));
 font-weight: 400;
 color: #35365f;
 text-decoration:none;
}
.contact-box p {
  display: block;
  font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320));
  font-weight: 400;
  color: #35365f;
  text-decoration: none;
}
.contact-form-sec{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    min-height:900px;
    position:relative;
}
.form-box{
    position:relative;
    background-color:#fff;
    border:0;
    border-radius:25px;
    padding:50px 25px;
}
.form-box label{
    font-size:14px;
    font-weight:500;
    color:#262636;
    margin-bottom:5px;
}

.form-box input{
    width:100%;
    height:50px;
    padding:5px 12px;
    border:0;
     border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(2, 23, 56, 0.18);
  margin-bottom:12px;

}
.form-box textarea{
    width:100%;
    height:160px;
    padding:20px 12px;
    border:0;
   border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(2, 23, 56, 0.18);
   margin-bottom:30px;

}
.form-box .btn-form{
    background-color: var(--primaryy-color);
    padding: 15px 30px;
    border: 1px solid var(--primaryy-color);
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    display: inline-block;
    box-shadow: 0px 21px 51px 0px rgba(27, 74, 69, 0.35);
    text-transform: uppercase;
    font-size:19px;
    font-weight:600;
}
/*Contact Page End */
/*New Page Css Start*/
.new-sec{
    position:relative;
}
.new-sec label{
    background-color:var(--primaryy-color);
      font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320));
     font-weight: 400;
    color:#fff;
    padding:10px 25px 10px 15px;
    margin-bottom:20px;
    border:0;
    border-radius:0px 30px 30px 0px;

}
    .new-sec .row{
    position: relative;
    padding-bottom:30px;
    margin-bottom:30px;
    border-bottom:1px dashed #111;
}
/*New Page Css End*/
/*Subscribe Form*/
.form-holder {
    display: flex;
    background: #0a0526;
    padding: 8px;
    border-radius: 10px;
}

.form-holder input {
    background-color: #0a0526;
    border-color: #0a0526;
    color: #fff;
}

.form-holder input:focus {
    background-color: #0a0526;
    border-color: #0a0526;
    color: #fff;
    box-shadow: none;
}

.subs-btn {
    flex: 1 0 100px;
    max-width: 100px;
    padding: 8px 8px;
    background-color:var(--primaryy-color);
    transition:0.3s;
    color:#fff;
    font-weight:400;
}

.subs-btn:hover {
    flex: 1 0 100px;
    max-width: 100px;
    padding: 8px 8px;
    background-color: #3c3c3c;
    transition: 0.3s;
    border-color: #3c3c3c;
    color:#fff;
}

/*Subscribe Form End*/


/*Follow Us*/
.follow-us {
    margin-top:30px;
}

.follow-us-list {
    padding-left: 0;
    list-style: none;
}

.follow-us-list li {
    display: inline-block;
}

.follow-us-list a {
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282e44;
    transition: 0.3s ease-in-out;
    color: #05060b;
    margin-right:6px;
    border-radius:32px;
    text-decoration:none;
}

.follow-us-list a:hover {
    background-color: var(--primaryy-color);
}
    /*Follow Us End*/
    /* Footer */
    .main-footer {
        /* height: 400px; */
        background-color: var(--footer-bg);
        padding-top: 50px;
        color: #d4d6da;
    }

.main-footer h6 {
  color: #fff;
  margin-bottom: 25px;
 font-size: calc(15px + (20 - 15) * (100vw - 320px) / (1920 - 320));
}

.foo-menu {
  list-style: none;
  padding-left: 0;
}

.foo-menu li{
  margin-bottom: 10px;
}

.foo-menu li a {
    color: #d4d6da;
    text-decoration: none;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
}

.foo-menu li a:hover{
  color: var(--primaryy-color);
}

.copyright {
  border-top: 1px solid #677280;
  text-align: center;
  color: #fff;
  padding: 25px 15px;
  font-size: 14px;
  margin-top: 40px;
  
}

.contact-info-foo {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-info-foo li {
  margin-bottom: 18px;
}

.contact-info-foo li i{
  color: var(--primaryy-color);
  margin-right: 8px;
}

.payment-cards-img{
  max-width: 182px;
  width:100%;
}

.copyright p{
  margin: 0;  
}

/* Footer End */


/* About Page Css Start*/
.inner-banner{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
   /* min-height:590px;*/
   height:450px;
}
.inner-banner-content {
    min-height: auto;
    display: flex;
    align-items: center;
    padding-top: 190px;
    justify-content: center;
}
.inner-title {
    color: #fff;
    font-size: calc(26px + (53 - 26) * (100vw - 320px) / (1920 - 320));
    font-weight:300;
    
}
.inner-banner p {
    color: #fff;
    font-size:calc(13px + (17 - 13) * (100vw - 320px) / (1920 - 320));
    font-weight:400;
}
.abt-sec{
    position:relative;
    z-index:9;
}
.abt-sec::before {
  content: "";
  background-image: url('/assets/images/light-shape.png');
  background-repeat:no-repeat;
  width:587px;
  height:742px;
  position:absolute;
  top:0;
  right:10%;
  z-index:-1;
  opacity:0.9;
    
}
.medium-title {
    color: #414141;
    font-size: calc(23px + (33 - 23) * (100vw - 320px) / (1920 - 320));
    font-weight:600;
}
.blue-text {
    color: #0264fe;
}
.abt-img3{
    position:relative;
    top:-150px;
}
.sp-postion{
    position:relative;
}
.sp-postion::before {
   content: "";
   background-color: #b2b2b2;
   height: 1px;
   position: absolute;
   top: 28px;
   width: 59%;
   right: 8%;
 }
.slick-nav-btm {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right:35px;
    max-width: 50px;
}
.slick-nav-btm button{
    background-color:transparent;
    border:0;
   
}
.slick-nav-btm button i {
   font-size: 25px;
   color: #9cc1fb;
}
.slick-nav-btm button:hover i{
    color:#0264fe;
}
.slick-nav-btm .button i.active {
   color: #0264fe;
}
.manage-box{
    text-align:center;
    margin-bottom:40px;
}
.manage-box .manage-icon i{
    margin:0 auto;
    padding:20px;
    color:#0063ff;
    font-size:50px;
}
.manage-box h6{
    color:#35365f;
    font-size: calc(22px + (27 - 22) * (100vw - 320px) / (1920 - 320));
    font-weight:400;
    padding-bottom:10px;
}
.manage-box p {
  color: #414271;
  font-size: calc(14px + (17 - 14) * (100vw - 320px) / (1920 - 320));
  font-weight: 400;
  padding-bottom: 10px;
}
/* About Page Css End*/
/* Back To Top CSS */
#btt-button {
    display: inline-block;
    background-color: var(--primaryy-color);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    border: 1px solid transparent;
}
#btt-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;  
  font-style: normal;
  font-size: 1.5em;
  line-height: 45px;
  color: #fff;
}
#btt-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}
#button:active {
  background-color: var(--secondary-color);
}
#btt-button.show {
  opacity: 1;
  visibility: visible;
}
/* Back To Top CSS End */
/* Thanks Sec*/
.thank-sec {
    padding: 120px 0;
    position: relative;
    background-color:#031739;
}


.thank-sec h2 {
      font-size: calc(28px + (48 - 28) * (100vw - 320px) / (1920 - 320));
  font-weight: 600;
  color:#fff;
  padding-top:50px;
}

.thank-sec h5 {
      font-size: calc(20px + (28 - 20) * (100vw - 320px) / (1920 - 320));
  font-weight: 500;
    color:#fff;
}



    @media (min-width: 992px) {
        .line-diff {
            height: 100%;
            width: 2px;
            background-color: #ababab;
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .diff-box-2 {
            margin-left: auto;
        }
    }



    @media (min-width: 768px) {
        .wtm-mid-col {
            margin-top: -24px;
        }

        .tm-phrase:after {
            content: "";
            position: absolute;
            width: 36%;
            height: 100%;
            display: block;
            background-image: url(../images/bg-phrase.jpg);
            top: 0;
            right: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }
    }
    /*TM Registration Page end*/
    /* Media Queries Min Width*/
    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1600px) {
    }
    /* Media Queries End */
    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {
    }
    /* Media Queries End */
    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
    }
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
    }
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
    }
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
    }
    /* Media Queries Max Width*/
    /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
    @media (max-width: 1599.98px) {
        .nav-item {
            font-size: 14px;
        }

        .our-story:before {
            width: 29%;
        }

        .ab-img-holder {
            left: 20%;
        }
    }

    @media (max-width: 1399.98px) {

        .our-story:before {
            width: 25%;
        }

        .ab-img-holder {
            left: 14%;
        }

        .banner-cont-holder {
            margin-top: 44px;
        }

        .space-p-t {
            padding-top: 80px;
        }

        .space-p-b {
            padding-bottom: 80px;
        }

        .space-p-tb {
            padding: 80px 0;
        }

        .space-m-t {
            margin-top: 80px;
        }

        .space-m-b {
            margin-bottom: 80px;
        }

        .space-m-tb {
            margin: 80px 0;
        }
    }
    /* `xl` applies to large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {

        .space-p-t {
            padding-top: 60px;
        }

        .space-p-b {
            padding-bottom: 60px;
        }

        .space-p-tb {
            padding: 50px 0;
        }

        .space-m-t {
            margin-top: 60px;
        }

        .space-m-b {
            margin-bottom: 60px;
        }

        .space-m-tb {
            margin: 60px 0;
        }

        .wch-list h4 {
            font-size: 20px;
        }

        .counter-section {
            min-height: auto;
        }

        .sp-postion::before {
            display: none;
        }

        .abt-img3 {
            position: relative;
            top: -40px;
        }

        .contact-form-sec {
            min-height: auto;
        }
    }
    /* `lg` applies to medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {

        #main-nav {
            align-items: normal;
            background: #031739;
            padding: 19px;
        }

        .btn-contact {
            background-color: inherit;
            color: #fff;
            padding: 12px 0px !important;
            margin-left: 0px;
            border-radius: 0;
        }

        #main-nav .nav-link {
            border-bottom: 1px solid #ccc;
            padding: 14px 0;
        }

        .ab-img-holder {
            display: none;
        }

        .our-story:before {
            display: none;
        }

        .our-story {
            min-height: 100%;
            padding-bottom: 40px;
        }

        .p-package {
            margin-bottom: 50px;
        }

        .rw-info a {
            font-size: 18px;
        }

        .rw-icon {
            font-size: 25px;
            border-radius: 55px;
            width: 55px;
            height: 55px;
        }

        .rw-row {
            display: flex;
            flex-direction: column;
        }

        .rw-icon {
            flex: 1 0 55px;
            max-width: 55px;
        }

        .inner-banner {
            height: 380px;
        }

        .inner-banner-content {
            padding-top: 145px;
        }
        .who-sec {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    /* `md` applies to small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) {
        .rw-info a {
            font-size: 15px;
            line-height: 15px;
        }

        .foo-menu {
            font-size: 13px;
        }

        footer.main-footer h6 {
            margin-top: 19px;
        }

        .wch-list h4 {
            font-size: 20px;
        }

        .space-p-t {
            padding-top: 40px;
        }

        .space-p-b {
            padding-bottom: 40px;
        }

        .space-p-tb {
            padding: 40px 0;
        }

        .space-m-t {
            margin-top: 40px;
        }

        .space-m-b {
            margin-bottom: 40px;
        }

        .space-m-tb {
            margin: 40px 0;
        }

        .ctm-form {
            display: flex;
            flex-direction: column;
        }

        .ctm-col {
            margin-right: 0px;
            width: 100%;
            margin-bottom: 12px;
        }

        .ctm-form .iti {
            width: 100%;
        }

        .ctm-banner {
            height: auto;
            padding-bottom: 56px;
        }

        .choice-image {
            margin-bottom: 25px;
        }

        .prev-btn {
            position: relative;
            left: inherit;
            top: inherit;
        }

        .next-btn {
            right: inherit;
            top: inherit;
            position: relative;
        }

        .btn-wrap {
            text-align: center;
            margin-top: 35px;
        }

        .slick-btn {
            background-color: var(--primaryy-color);
            border: none;
            border-radius: 50px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 20px;
            color: #fff;
            transition: 0.3s ease-in;
            -webkit-transition: 0.3s ease-in;
            -moz-transition: 0.3s ease-in;
            -ms-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
        }

        .copyright {
            margin-top: 12px;
        }

        .inner-banner-form {
            position: relative;
            bottom: 0;
        }

        .tmr-box-white {
            margin-bottom: 15px;
        }

        .clients-logos-sec {
            margin-bottom: 0;
        }

        .clients-logos {
            display: grid;
        }

        .slick-nav-btm {
            top: 33px;
        }
    }
    /* `sm` applies to x-small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {

        .ctm-navbar-brand img {
            max-width: 185px;
        }

        .topbar {
            font-size: 10px;
        }

        .tags-holder a {
            margin-right: 5px;
            margin-bottom: 8px;
            padding: 4px 15px;
        }

        .banner-form-title {
            font-size: 12px;
        }

        body {
            font-size: 14px;
        }
    }
    /* Media Queries End*/
    /*Menu btn css*/
    /* Icon 1 */

    #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 40px;
    height: 25px;
    position: relative;
    /*margin: 50px auto;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: var(--primaryy-color);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

        #nav-icon1 span:nth-child(1) {
            top: 0px;
        }

        #nav-icon1 span:nth-child(2) {
            top: 14px;
        }

        #nav-icon1 span:nth-child(3) {
            top: 28px;
        }

    #nav-icon1.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

.navbar-toggler {
    border:none;
    padding:0;
}

.navbar-toggler:focus {
    box-shadow:inherit;
    outline:none;
} 